-
    const aboutData = [
        {
           bigText: '>30 лет',
           text: 'на IT-рынке' 
        },
        {
           bigText: '4600',
           text: 'сотрудников в России' 
        },
        {
           bigText: '25',
           text: 'городов России' 
        },
        {
           bigText: '2000+',
           text: 'разработчиков' 
        },
        {
           bigText: '3000+',
           text: 'сотрудников ежегодно проходят оценку и обучение' 
        }
    ]