-
  let mainC = [
    {
      title: 'ДМС',
      className: 'dms'
    },
    {
      title: 'Выходной в день рождения',
      className: 'birthday'
    },

    {
      title: 'Корпоративная мобильная связь',
      className: 'mobile'
    }, 
    {
      title: 'Корпоративные скидки на спорт',
      className: 'sport'
    },
    {
      title: 'LTI',
      className: 'lti'
    }
  ]

-
  let additionalC = [
    {
      title: 'Оргтехники',
      className: 'office'
    },
    {
      title: 'ДМС',
      className: 'dms'
    },
    {
      title: 'Ипотеки',
      className: 'mortgage'
    }
  ]