-
  let allRegions = [
  ['Москва'], 
  ['Центр', 'Воронеж', 'Ярославль', 'Белгород'], 
  ['Северо-Запад', 'Санкт-Петербург', 'Калининград'], 
  ['Юг', 'Ростов-на-Дону', 'Краснодар', 'Волгоград'], 
  ['Волга', 'Казань', 'Самара', 'Уфа', 'Оренбург' ,'Нижний Новгород'], 
  ['Урал', 'Екатеринбург', 'Челябинск', 'Пермь', 'Сургут' ,'Тюмень', 'Ижевск'], 
  ['Сибирь', 'Новосибирск', 'Омск', 'Томск', 'Красноярск', 'Иркутск'], 
  ['Дальний Восток', 'Хабаровск', 'Владивосток']]