-
    const allOffices = [
        {
            title: 'Все',
            value: 'all'
        },
        {
            title: 'Москва',
            value: 'moscow'
        },
        {
            title: 'Центр',
            value: 'center'
        },
        {
            title: 'Северо-Запад',
            value: 'northwest'
        },
        {
            title: 'Юг',
            value: 'south'
        },
        {
            title: 'Волга',
            value: 'volga'
        },
        {
            title: 'Урал',
            value: 'ural'
        },
        {
            title: 'Сибирь',
            value: 'siberia'
        },
        {
            title: 'Дальний восток',
            value: 'far-east'
        }
    ]