header.header 
  .header--padding
    .container.header__container 
      a.header__logo.logo(href="#"): img.header__img(src="../assets/images/logo.svg")
      nav.header__nav.nav 
        ul.nav__list
          each name in ['Облачные решения', 'Кибербезопасность', 'Импортозамещение', 'Цифровая трансформация'] 
            li.nav__item: a.nav__link(href="#")= name

         
