.header {
    &__container {
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #d9d9d9;

        @media(max-width: 320px) {
            padding: 16px 5px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }
    }
}