.offices {
    padding-bottom: 100px;

    &__container {
        position: relative;
        padding: 0;
    }

    &__bg--white {
        &::before {
            content: '';
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            background: #fff;
            z-index: 100;
        }
    }

    &__container--position {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 28px 70px;
        background-color: #fff;

        @media (max-width: 320px) {
            padding: 18px 5px;
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
        }
    }

    &__subtitle {   
        font-size: 24px;
        font-weight: 600;
        line-height: 100%;
    }

    &__list {
        display: flex;
        gap: 30px;
        align-items: center;

        @media(max-width: 320px) {
            width: 100%;
            gap: 16px;
            flex-wrap: nowrap;
            overflow-y: hidden;
            overflow-x: auto;
            white-space: nowrap;
        }
    }

    &__item {
        &:not(:last-child) {
            @media(max-width: 320px) {
                border-right: 1px solid #eee;
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 16px;

        &::after {
            content: '';
            width: 20px;
            height: 9px;
            background-image: url('../../../assets/images/offices-menu.svg');
            background-repeat: no-repeat;
            background-size: contain;
            transition: transform 0.3s linear;
            transform: rotate(0deg);
        }
    }

    &__btn--close {
        &::after {
            transform: rotate(180deg);
        }
    }

    &__label {
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;
    }

    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__checkbox:checked + label {
        position: relative;
        color: #a30c33;

        &::after {
            content: '';
            position: absolute;
            top: 30px;
            right: 0;
            width: 100%;
            height: 100%;
            border-bottom: 3px solid #a30c33;
        }
    }

    &__checkbox + label {
        transition: color 0.3s ease-in-out;
    }

    &__checkbox:hover + label {
        color: #a30c33;
    }

    &__menu {
        position: absolute;
        width: 100%;
        top: 100px;
        left: 0;
    }

    &__regions-list{
        display: flex;
        gap: 24px;
        padding: 30px 69px;
        background-color: #fff;
    }

    &__map{
        padding: 0 30px;
        padding-top: 90px;
        color: transparent;

        @media(max-width: 320px) {
            overflow: auto;
        }
    }
}