.regions {
    display: flex;
    flex-direction: column;

    &[open] {
        gap: 12px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__link {
        text-align: start;
        font-family: 'Proxima Nova';
        font-size: 18px;
        line-height: 20px; 
        font-weight: 400;
        color: #444;

        @media(max-width: 320px) {
            font-size: 14px;
            line-height: 14px;
        }
    }

    &__link--weight {
        font-weight: 600;
    }

    &__summary {
        pointer-events: none;

        @media(max-width: 320px) {
            display: flex;
            align-items: center;
            gap: 3px;
            pointer-events: auto; 
        }

        &::after {
            content: '';

            @media(max-width: 320px) {
                width: 8px;
                height: 5px;
                background-image: url('../../../assets/images/regions-arrow.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}