@font-face {
	font-family: "Proxima Nova Condensed";
	src: local("Proxima Nova Condensed Bold"),
		url("../../assets/fonts/ProximaNovaCondBold.woff2") format("woff2"),
		url("../../assets/fonts/ProximaNovaCondBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Proxima Nova Condensed";
	src: local("Proxima Nova Condensed Semibold"),
		url("../../assets/fonts/ProximaNovaCondSemibold.woff2") format("woff2"),
		url("../../assets/fonts/ProximaNovaCondSemibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Proxima Nova Condensed";
	src: local("Proxima Nova Condensed Regular"),
		url("../../assets/fonts/ProximaNovaCondRegular.woff2") format("woff2"),
		url("../../assets/fonts/ProximaNovaCondRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Proxima Nova";
	src: local("Proxima Nova Regular"),
		url("../../assets/fonts/ProximaNovaRegular.woff2") format("woff2"),
		url("../../assets/fonts/ProximaNovaRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Proxima Nova";
	src: local("Proxima Nova Semibold"),
		url("../../assets/fonts/ProximaNovaSemibold.woff2") format("woff2"),
		url("../../assets/fonts/ProximaNovaSemibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
